{{extend './common/layout.html'}}
    <div id="wrap">
        {{include './common/header.html'}}
       {{include './common/aside.html'}}
        <!-- 右边内容 -->
        <div class="col-sm-offset-3 col-md-offset-2" id="right">
            <!-- 主体内容 -->
            <div id="right-container">
                <!-- 信息展示 -->
                <div id="message">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p><span>疾病名称：</span><span>可爱病</span></p>
                            <p><span>所属科室：</span><span>内科</span></p>
                            <p><span>疾病描述：</span><p>huxicssvsdfjksdgfds</p></p>
                            <p><span>疾病症状：</span><p>fsd;fjg;dfgsdfgjs;fkgsf</p></p>
                            <p><span>触发原因：</span><p>g防守打法第三个都是</p></p>
                        </div>
                      </div>
                </div>
                <!-- 信息展示 -->
            </div>
            <!-- 主体内容 -->
        </div>
        <!-- 右边内容 -->

    </div>

{{/block}}