{{extend './common/layout.html'}}
{{block 'main'}}
<div id="wrap">
    {{include './common/header.html'}}
    {{include './common/aside.html'}}
    <!-- 右边内容 -->
    <div class="col-sm-offset-3 col-md-offset-2" id="right">
        <!-- 主体内容 -->
        <div id="right-container">
            <!-- 搜索框 -->
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="form-group form-inline">
                        <span>姓名</span>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="form-group form-inline">
                        <span>职称</span>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="form-group form-inline">
                        <span>科室</span>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="form-group form-inline">
                        <button class="btn btn-success">搜索</button>
                    </div>
                </div>
            </div>
            <!-- 搜索框 -->
            <!-- 数据显示 -->
            <div class="table-responsive">
                <table id="doctorTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>职称</th>
                            <th>科室</th>
                            <th>电话</th>
                            <th>所属医院</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{each result1}}
                        <tr>
                            <td> {{$value.DoctorID}}</td>
                            <td> {{$value.DoctorName}}</td>
                            <td> {{$value.Title}}</td>
                            <td> {{$value.CategoryName}}</td>
                            <td> {{$value.PhoneNumber}}</td>
                            <td> {{$value.HospitalName}}</td>
                            <td>
                                <a href="/admin/doctor-description?id={{$value.DoctorID}}"
                                    class="btn btn-primary active" role="button">查看</a>
                                <button class="btn btn-danger" data-toggle="modal"
                                    data-target=".confirm-modal">删除</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <!-- 数据显示 -->

                <!-- 分页 -->
                <nav aria-label="">
                    <ul class="pager">
                        {{page}}{{page-1 < 1?'disabled':'active'}}{{total}}
                        <li><a href="/admin/doctor?page=1">第一页</a></li>
                        <li class="{{page-1<1?'disabled':'active'}}">
                            <a href="/admin/doctor?page=<%=page-1%>">上一页</a>
                        </li>
                        <li class="{{page+1>total?'disabled':'active'}}">
                            <a href="/admin/doctor?page=<%=page-0+1%>">下一页</a></li>
                        <li><a href="/admin/doctor?page={{total}}">最后一页</a>
                        </li>
                    </ul>
                </nav>
                <!-- /分页 -->
            </div>
            <!-- 数据显示 -->
            <!-- 删除确认弹出框 -->
            <div class="modal fade confirm-modal">
                <div class="modal-dialog modal-lg">
                    <form class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            <h4 class="modal-title">请确认</h4>
                        </div>
                        <div class="modal-body">
                            <p>您确定要删除该条数据?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <input type="submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
            <!-- /删除确认弹出框 -->

        </div>
        <!-- 主体内容 -->
    </div>
    <!-- 右边内容 -->
</div>
{{/block}}