{{extend './common/layout.html'}}
{{block 'main'}}
<div id="wrap">
    {{include './common/header.html'}}
    {{include './common/aside.html'}}

    <!-- 右边内容 -->
    <div class="col-sm-offset-3 col-md-offset-2" id="right">
        <!-- 主体内容 -->
        <div id="right-container">
            <!-- 信息展示 -->
            <div id="message">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{each result}}
                        <img src="{{$value.Photo}}" alt="照片">
                        <p><span>姓名：</span><span>{{$value.DoctorName}}</span></p>
                        <p>职称：<span>{{$value.Title}}</span></p>
                        <p>科室：<span>{{$value.CategoryName}}</span></p>
                        <p>所属医院：<span>{{$value.HospitalName}}</span></p>
                        <P>电话：<span>{{$value.PhoneNumber}}</span></P>
                        <P>邮箱：<span>{{$value.Email}}</span></P>
                        <span>描述：</span>
                        <P>{{$value.Introduction}}</p>
                        {{/each}}
                    </div>
                </div>
                <a href="/admin/doctor">返回</a>
            </div>
            <!-- 信息展示 -->
        </div>
        <!-- 主体内容 -->
    </div>
    <!-- 右边内容 -->

</div>

{{/block}}